@CHARSET "UTF-8";
/* ========BASIC======== */
html {
	overflow-y:scroll;
}

body {
	margin:0;
	padding:0;
	line-height:1.4;
	letter-spacing:1px;
	/*font-family:Georgia,"MS 明朝","Hiragino Mincho Pro W3","ヒラギノ明朝 Pro W3",serif;*/
	font-size:12px;
	color:#000;
}

br {
	letter-spacing:normal;
}

a {
	color:#e54c81;
	text-decoration:none;
}

a:hover {
	color:#e54c81;
text-decoration:underline;
}

img {
	border:0;
	vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

/* ========TEMPLATE LAYOUT======== */
#menu {
	/*width:520px;
	margin:0 auto;*/
	margin-top:10px;
	padding:0 10px;
	background:#fff;
	box-shadow:0 0 5px #999;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	behavior: url(PIE.htc);/* for IE */
}

/* ========MENU CUSTOMIZE======== */
/* メインメニュー */
#menu ul {
	display:block;
	list-style-type: none;
	margin:0;
	padding:0;
}

/* サブメニュー1段目 */
#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
}

/* サブメニュー2段目以降 */
#menu ul ul ul {
	top:0;
	left:100%;
}

/* リスト */
#menu li {
	float:left;
}

#menu li li {
	clear:both;
}

#menu li:hover {
	position:relative;
}

#menu li:hover > ul {
	display: block
}

/* デザイン */
#menu ul {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	background:#fff url("/img/bg_menu.gif") 0 0 repeat-x;
}

#menu li ul {
	border-top:1px solid #999;
	border-bottom:none;
}

#menu li li {
	margin-left:0;
	background:#f5f5f5;
	border-bottom:1px solid #999;
}

#menu li li a:hover {
	color:#999;
	margin-left:0;
	background:#fff;
}

#menu li a {
	color:#000;
	display:block;
	width:130px;
	padding:10px 0;
	text-align:center;
	outline:none;
}

#menu li li a {
	color:#000;
	display:block;
	width:120px;
	padding:10px 5px;
	line-height:20px;
	text-align:left;
	outline:none;
}

#menu li a:hover {
	color:#999;
	color:#666;
	text-decoration:none;
}

#main {
	clear:both;
	/*margin-top:10px;*/
	padding:20px 10px;
}

#main table {
	margin-bottom:10px;
	border-collapse:collapse;
	border:1px solid #999;
	border-spacing:0;
	line-height:1.8;
}

#main table th {
	padding:5px;
	border:1px solid #999;
	border-width:0 0 1px 1px;
	background:#EFEBEF;
	font-weight:bold;
}

#main table td {
	padding:5px;
	border:1px solid #999;
	border-width:0 0 1px 1px;
}

#main h2 {
	margin-bottom:5px;
	padding-left:10px;
	font-size:14px;
	color:#e54c81;
	border-left:5px solid #ED81A6;
	line-height:2.0;
}

/*ボタン*/
.normal {
	background-color:#e54c81;
	border:1px solid #ee4c81;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

.normal:hover {
	background-color:#EFEBEF;
	border:1px solid #e54c81;
	padding: 5px 10px 5px 10px;
	color: #e54c81;
}

.beforeclose {
	background-color:#e54c81;
	border:1px solid #ee4c81;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

.beforeclose:hover {
	background-color:#EFEBEF;
	border:1px solid #e54c81;
	padding: 5px 10px 5px 10px;
	color: #e54c81;
}

.afterclose {
	background-color:#ccc;
	border:1px solid #999;
	padding: 5px 10px 5px 10px;
	color: #fff;
}

.afterclose:hover {
	background-color:#ccc;
	border:1px solid #333;
	padding: 5px 10px 5px 10px;
	color: #333;
}
